@using System.Web.Optimization;
@Styles.Render("~/bundles/sitecss")
@{
    ViewBag.Title = "Home";
}
<div class="container container-custom  sitebody-text">
    <div class="row">
        <div class="col-lg-12 box-text">
            <h2>Hello!</h2>
            <div>
                <br />
                <p>
                    My name is Colin Phelps. I am currently a student at the University of Louisville.
                    My major is Computer Information Systems with a focus on web development. I am also
                    an intern at <a href="http://public.zirmed.com/">Zirmed</a>, a healthcare software
                    company located in downtown Louisville.
                </p>
                <br />
                <p>
                    I am interested in web and mobile development. I have experience with several programming
                    languages and technologies. My major is within the College of Business, so I have also
                    taken several business classes.
                </p>
                <div class="row">
                    <div class="col-lg-4">
                        <h3>LANGUAGES</h3>
                        <ul>
                            <li>C#</li>
                            <li>Java</li>
                            <li>SQL</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h3>APPLICATIONS</h3>
                        <ul>
                            <li>Visual Studio</li>
                            <li>Android Studio</li>
                            <li>SQL Server</li>
                            <li>Access</li>
                            <li>Visio</li>
                            <li>SAS Enterprise Miner</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h3>BUSINESS</h3>
                        <ul>
                            <li>Financial Accounting</li>
                            <li>Managerial Accounting</li>
                            <li>Corporate Finance</li>
                            <li>Macroeconomics</li>
                            <li>Microeconomics</li>
                            <li>Organizational Management</li>
                            <li>Operations Management</li>
                            <li>Commercial Law</li>
                            <li>System Analysis and Design</li>
                        </ul>
                    </div>
                </div>
                <p>Click <a href="https://docs.google.com/document/d/1UtBh38geUCaN0uRurkWnaWRI0jkp2GhlEbDzhjq_Tgk/edit">here</a>
                    to view a portfolio of my previous coursework.</p>
            </div>
        </div>
    </div>
</div>



