
@{
    ViewBag.Title = "HomePageContent";
}
<div class="container container-custom">
    <div class="row">
        <div class="col-md-8">
            <h2>Hello!</h2>
            <br />
            <p>
                My name is Colin Phelps. I am currently a student at the University of Louisville.
                My major is Computer Information Systems with a focus on web development. I am also
                an intern at <a href="http://public.zirmed.com/">Zirmed</a>, a healthcare software
                company located in downtown Louisville.
            </p>
        </div>
        <div class="col-md-4">
            TWO
        </div>
    </div>
</div>



