
@{
    ViewBag.Title = "Contact Me";
}

<div class="container container-custom sitebody-text box-text">
    <div class="col-lg-12 ">
        <h2>Contact Info</h2>
        <br />
        <p>You can contact me in the following ways:</p>
        <ul>
            <li><a href="mailto:cphelps56@gmail.com" target="_blank">Email</a></li>
            <li><a href="https://www.linkedin.com/in/colin-phelps-181a9bb1" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/cphelps56" target="_blank">View my Github</a></li>
        </ul>
    </div>
</div>
