<footer class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="footer-text">
        <a class="footer-text a-custom" href="@Url.Action("Index","Home")">About</a>-<a class="footer-text"href="@Url.Action("Index","Contact")">Contact Me</a>-<a class="footer-text" href="@Url.Action("Index","Resume")">Resume</a><br />
        © 2017 Colin Phelps 
    </div>
</footer>
