<div class="navbar-right">
    <a href="https://www.linkedin.com/in/colin-phelps-181a9bb1"class="fa fa-linkedin"></a>
    <a href="https://github.com/cphelps56" class="fa fa-github"></a>
    <a href="mailto:cphelps56@gmail.com" class="fa fa-envelope-o"></a>
</div>
