<div class="navbar-right" style="padding:10px; padding-right:20px ">
    <a href="https://www.linkedin.com/in/colin-phelps-181a9bb1"><i class="fa fa-linkedin-square" style="font-size:30px; color:#9d9d9d" aria-hidden="true"></i></a>
    <a href="https://github.com/nyelok"><i class="fa fa-github" style="font-size:30px; color:#9d9d9d; padding-left:12px" aria-hidden="true"></i></a>
</div>
