<div class="navbar-right">
    <a href="https://www.linkedin.com/in/colin-phelps-181a9bb1" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://github.com/cphelps56" target="_blank" class="fa fa-github"></a>
    <a href="mailto:cphelps56@gmail.com" target="_blank" class="fa fa-envelope-o"></a>
</div>
